<p>
    <form action="/Produto/Save" method="post">
        ID:<input type="text" id="id" name="Id"/>
        Name:<input type="text" id="name" name="Name"/>
        Price:<input type="text" id="price" name="Price"/>
        <input type="submit" value="Salvar">
    </form>
</p>